body{
    margin: auto;
    padding:auto;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 30px;
}

.about{
    text-decoration: none;
    padding-left: 15px;
    padding: auto;
    margin: 0px;
    font-size: 15px;
}

.store{
    text-decoration: none;
    padding-left: 15px;
    margin:0px;
    padding:auto;
    font-size: 15px;

}

.gmail{
    text-decoration: none;
    padding-left: 1000px;
    padding-right: 15px;
    margin:0px;
    padding: auto;
    font-size: 15px;
}
.images{
    text-decoration: none;
    padding-right: 15px;
    margin:0px;
    padding: auto;
    font-size: 15px;
}
.apps{
    text-decoration: none;
    padding-right: 15px;
    margin:0px;
    padding: auto;
    font-size: 15px;
    color: thistle;
}
.sign_in{
    text-decoration: none;
    padding-right: 15px;
    margin:0px;
    padding: auto;
    font-size: 15px;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;
}
.searchbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    
}
.input{
    padding-left: 300px;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(230, 223, 223);
    height: 30px;
    align-items: center;



}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}